<!DOCTYPE html>
<html>
    <head>
        <title>Gerenciador de Notas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/style4.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" >
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div id="screen">
            <div id="menuside">
                <ul>
                    <li id="collapse"><a href="#collapse"><i class="material-icons">align_horizontal_left</i></a></li>
                    <li><a href="/dashboard"><i class="material-icons">bar_chart</i> Dashboard</a></li>
                    <li><a class="active" href="/classes"><i class="material-icons">school</i> Classes</a></li>
                    <li><a href="/settings"><i class="material-icons">settings</i> Settings</a></li>
                </ul>  
            </div>
            <div id="infoside" class="flex-container">
                    <div class="flex-item">
                        <h2>Classes</h2>
                        <h3>Home > <span>Classes</span></h3>
                    </div>
                    <br>
                    <fieldset>
                        <h3 id="classes_text">All Classes Data</h3>
                        <div class="flex-item">
                            <input type="text" id="course_info" placeholder="Search class">
                            <input type="submit" value="Search" id="button">
                        </div>
                        <table>
                            <tr>
                              <th>Codigo</th>
                              <th>Nome</th>
                              <th>Carga Horária</th>
                              <th>N° de unidades</th>
                            </tr>
                            <% result.forEach(function(result, i){ %>
                                <tr>
                                    <td><%= result.codigo %></td>
                                    <td><%= result.nome_disciplina %></td>
                                    <td><%= result.ch_total %></td>
                                    <td><%= result.qtd_unidades %></td> 
                                </tr>
                            <% }) %>
                        </table>
                        <!-- <form>
                            <div class="form-row">
                                <div class="form-column">
                                    <label for="codigo">Código</label>
                                    <input type="text" id="codigo" readonly>
                                </div>
                                <div class="form-column">
                                    <label for="nome">Nome</label>
                                    <input type="text" id="nome" readonly>
                                </div>
                                <div class="form-column">
                                    <label for="ch">Carga Horária</label>
                                    <input type="text" id="ch" readonly>
                                </div>
                                <div class="form-column">
                                    <label for="qtdUnidades">N° de Unidades</label>
                                    <input type="text" id="qtdUnidades" readonly>
                                </div>
                            </div>
                        </form> -->
                        <!-- <% result.forEach(function(result, i){ %>
                            <tr>
                                <th scope="row"> <%= i+1 %> </th>
                                <td>%= result.codigo %><</td>
                                <td><%= result.nome_disciplina %></td>
                                <td><%= result.ch_total %></td>
                                <td><%= result.qtd_unidades %></td>
                                
                            </tr>
                        <% }) %> -->

                        <div class="flex-item" id="buttons">
                            <button><b>1</b></button>
                            <button><b>2</b></button>
                            <button><b>3</b></button>
                        </div>
                    </fieldset>    
            </div>
        </div>
        <script src="main.js" type="text/javascript"></script>
    </body>
</html>